<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
</head>
<div class="container" align="left">

    <div *ngIf="model">
        <h3>News form</h3><br>
        <form (ngSubmit)="onSubmit()" #newsForm="ngForm">

            <div *ngIf="model">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" required minlength="1" maxlength="100"
                           [(ngModel)]="model.title" name="title" #title="ngModel">
                    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                        <p *ngIf="title.errors && title.errors.required" danger padding-left>
                            Title is required
                        </p>
                        <p *ngIf="title.errors && title.errors.minlength" danger padding-left>
                            Min length should be at least 1
                        </p>
                        <p *ngIf="title.errors && title.errors.maxlength" danger padding-left>
                            Max length should not more 100
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date">Date</label>

                    <input type="text" [ngModel]="model.date | date:'yyyy-MM-dd HH:mm:ss'" required readonly
                           class="form-control" id="date" name="date" #date="ngModel">
                    <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                        Date is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="brief">Brief</label>
                    <textarea class="form-control" rows="3" id="brief" required minlength="1" maxlength="500"
                              [(ngModel)]="model.brief" name="brief" #brief="ngModel"></textarea>
                    <div [hidden]="brief.valid || brief.pristine" class="alert alert-danger">
                        <p *ngIf="brief.errors && brief.errors.required" danger padding-left>
                            Brief is required
                        </p>
                        <p *ngIf="brief.errors && brief.errors.minlength" danger padding-left>
                            Min length should be at least 1
                        </p>
                        <p *ngIf="brief.errors && brief.errors.maxlength" danger padding-left>
                            Max length should not more 500
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" rows="7" id="content" required minlength="1" maxlength="2048"
                              [(ngModel)]="model.content" name="content" #content="ngModel"></textarea>
                    <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                        <p *ngIf="content.errors && content.errors.required" danger padding-left>
                            Brief is required
                        </p>
                        <p *ngIf="content.errors && content.errors.minlength" danger padding-left>
                            Min length should be at least 1
                        </p>
                        <p *ngIf="content.errors && content.errors.maxlength" danger padding-left>
                            Max length should not more 2048
                        </p>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" [disabled]="!newsForm.form.valid">Save news</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

            </div>
        </form>
    </div>


</div>